/* Estilo Básico */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #4CAF50;
  }
  
  /* Seções */
  section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
  }
  
  section.h2 {
    color: black;
  }

  section.h3 {
    color: white;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  /* Projetos */
  #projetos article {
    margin-bottom: 20px;
  }
  
  #projetos img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  /* Depoimentos */
  #depoimentos article {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #depoimentos h3 {
    color: #4CAF50;
  }
  
  /* Formulário de Contato */
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-bottom: 5px;
  }
  
  form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
  /* Rodapé */
  footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  footer a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }